{%extends 'lee/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
{{block.super}}

<!-- <h3>Button with counter for people who likes to  click</h3>
<p>
  <a href="#" title="Love it" class="btn btn-counter multiple-count" data-count="0"><span>&#x2764;</span></a>
  <a href="#" title="Love it" class="btn btn-counter multiple-count" data-count="0"><span>&#x2764;</span> Love it</a>
</p> -->
<!--  -->
    <div class="lee">
        <div class="box">
            
            <h1 style="font-size: 50px; font-family: 'Dancing Script', cursive; font-weight: 900; color: white; "> Welcome To My </h1>
            <h1 class='text-center' style="font-family: 'Dancing Script', cursive; font-weight: 900; font-size: 60px; color: white;"> INSTAGRAM CLONE APP</h1>
            
        </div>
        <a href=""><button class="button">Visit Site</button></a>
       <button class="button-btn">Collect</button>
       
</div>
<div class="container">
    {% for post in posts %}

    <!--  -->
    <!-- <div class="col-sm-4">
        <div class="thumbnail">
            <img src="{{ post.cover.url}}"  alt="{{ post.title }}" width="400" height="300">
          <p><strong>{{ post.author }}</strong></p>
          <p>{{ post.pub_date|timesince }} ago </p>
          <h2> {{ post.title }} </h2>
          <button class="btn">Buy Tickets</button>
        </div>
      </div> -->
    <!--  -->
    <div class="view view-second">
        <img src="{{ post.cover.url}}"  alt="{{ post.title }}" width="300" height="300">
        <div class="mask"></div>
        <div class="content">
            <h2>Hover Style #2</h2>
            <p>{{ post.pub_date|timesince }} ago </p>
            <p> {{ post.content }} </p>
            <p><a href="#" title="Love it" class="btn btn-counter multiple-count" data-count="0"><span>&#x2764;</span></a></p>
            <a href="#" class="">Read More</a>
        </div>
    </div>
    
    <!-- <div class="col-md-4">
     <div class="media">
         <div class="media-left">
            <img class="img-circle" src=" {{ post.author.profile.image.url }} " width="50" height="50">
         </div>
         <div class="media-body">
            <p class="media-heading"> {{ post.author }} </p>
         </div>
         <div class="media-body">
            {% if post.cover %}
            <img src="{{ post.cover.url}}"  alt="{{ post.title }}" width="300" height="300">
          {% else %}
          <p></p>
           {% endif %} 
         </div>
            <div class="caption">
                 
                 <p>{{ post.pub_date|timesince }} ago </p>
             </div>
             <h2> {{ post.title }} </h2>
             <p> {{ post.content }} </p>
             <a href="{}">Comments: {{ post.comments.count }}</a>
         </div>
         </div> -->
    {% endfor %}
</div>

<script>
    /* 
 * Love button for Design it & Code it
 * http://designitcodeit.com/i/9
 */
$('.btn-counter').on('click', function(event, count) {
  event.preventDefault();
  
  var $this = $(this),
      count = $this.attr('data-count'),
      active = $this.hasClass('active'),
      multiple = $this.hasClass('multiple-count');
  
  // First method, allows to add custom function
  // Use when you want to do an ajax request
  /* if (multiple) {
  $this.attr('data-count', ++count);
  // Your code here
  } else {
  $this.attr('data-count', active ? --count : ++count).toggleClass('active');
  // Your code here
  } */
  
  // Second method, use when ... I dunno when but it looks cool and that's why it is here
  $.fn.noop = $.noop;
  $this.attr('data-count', ! active || multiple ? ++count : ++count  )[multiple ? 'noop' : 'toggleClass']('active');
  
});
</script>
{% endblock %}

</body>
</html>