{%extends 'lee/base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
{{block.super}}
    <h1 class='text-center' > Welcome To Awwards App </h1>

    {% for post in posts %}

    <!--  -->
    <!-- <div class="col-sm-4">
        <div class="thumbnail">
            <img src="{{ post.cover.url}}"  alt="{{ post.title }}" width="400" height="300">
          <p><strong>{{ post.author }}</strong></p>
          <p>{{ post.pub_date|timesince }} ago </p>
          <h2> {{ post.title }} </h2>
          <button class="btn">Buy Tickets</button>
        </div>
      </div> -->
    <!--  -->
    <div class="col-md-4">
     <div class="media">
         <div class="media-left">
            <img class="img-circle" src=" {{ post.author.profile.image.url }} " width="50" height="50">
         </div>
         <div class="media-body">
            <p class="media-heading"> {{ post.author }} </p>
         </div>
         <div class="media-body">
            {% if post.cover %}
            <img src="{{ post.cover.url}}"  alt="{{ post.title }}" width="300" height="300">
          {% else %}
          <p></p>
           {% endif %} 
         </div>
            <div class="caption">
                 
                 <p>{{ post.pub_date|timesince }} ago </p>
             </div>
             <h2> {{ post.title }} </h2>
             <p> {{ post.content }} </p>
             <a href="{}">Comments: {{ post.comments.count }}</a>
         </div>
         </div>
    {% endfor %}

{% endblock %}
</body>
</html>