{% extends 'app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {{block.super}}
    <section id="hero">
        <div class="hero container">
            <div class="hero__up">
                <p> <span>Site of the Day</span> {{date|date:" F d, Y"}} </p>
                <!-- <p>{{date|date:"l F d, Y"}}</p> -->
                <div class="hero__upIcons">
                    <span><i class="fas fa-share-alt"></i></span>
                </div>
            </div>
            <div class="hero__center">
                <h2>James Nyang'oma</h2>
                <p>BY CUSP | SALT & PEPPER From CANADA WITH 7.76</p>
                
            </div>
            <div class="hero__down">
                <div class="hero__downBtn">
                    <BUtton class="site">Visit Site</BUtton>
                    <button class="collect">Collect</button>
                </div>
                <div class="hero__downJry">
                    <button class="jry">Jury votes</button>
                    <i class="far fa-user-circle"></i>
                    <i class="far fa-user-circle"></i>
                    <i class="far fa-user-circle"></i>
                    <i class="far fa-user-circle"></i>
                </div>
            </div>
        </div>
    </section>
    <section class="des">
        <div id="des" class="container-fluid">
            <div class="des__first">
                <p> <span> Sites of the day </span> Previous Winners </p>
            </div>
            <di class="des__second">
                <p> <span> Mobile Excellence </span> Site of the week </p>
            </di>
        </div>
    </section>
    <section class="section__main">
        <div class="main__section">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-img-container">
                            <div class="card-img">
                                <div class="hide">
                                    <div class="card-img__up">
                                        <div class="card-img__upIcon">
                                            <span><i class="fab fa-facebook-f"></i></span>
                                            <span><i class="fab fa-twitter"></i></span>
                                            <span><i class="fab fa-pinterest-p"></i></span>
                                            <span><i class="fab fa-linkedin-in"></i></span>
                                        </div>
                                        <button> Collect </button>
                                    </div>
                                </div>
                                <div class="hide">
                                    <div class="card-img__down">
                                        <span><i class="fas fa-share"></i></span>
                                    </div>
                                </div>
                                <!-- <span class="date fade-out">May 7, 2019</span>
                                                <h1 class="fade-out">Purpose over passion</h1> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <p>Studio Sentempo</p>
                            <div class="des">
                                <p>From Italy</p>
                                <p>April 20, 2021</p>
                            </div>
                            <div class="des__down">
                                <div class="des__one">
                                    <p>BY STUDIO SENTEMPO</p>
                                </div>
                                <div class="des__two">
                                    <p>cool</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-img-container">
                            <div class="card-img">
                                <div class="hide">
                                    <div class="card-img__up">
                                        <div class="card-img__upIcon">
                                            <span><i class="fab fa-facebook-f"></i></span>
                                            <span><i class="fab fa-twitter"></i></span>
                                            <span><i class="fab fa-pinterest-p"></i></span>
                                            <span><i class="fab fa-linkedin-in"></i></span>
                                        </div>
                                        <button> Collect </button>
                                    </div>
                                </div>
                                <div class="hide">
                                    <div class="card-img__down">
                                        <span><i class="fas fa-share"></i></span>
                                    </div>
                                </div>
                                <!-- <span class="date fade-out">May 7, 2019</span>
                                                <h1 class="fade-out">Purpose over passion</h1> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <p>Studio Sentempo</p>
                            <div class="des">
                                <p>From Italy</p>
                                <p>April 20, 2021</p>
                            </div>
                            <div class="des__down">
                                <div class="des__one">
                                    <p>BY STUDIO SENTEMPO</p>
                                </div>
                                <div class="des__two">
                                    <p>cool</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-img-container">
                            <div class="card-img">
                                <div class="hide">
                                    <div class="card-img__up">
                                        <div class="card-img__upIcon">
                                            <span><i class="fab fa-facebook-f"></i></span>
                                            <span><i class="fab fa-twitter"></i></span>
                                            <span><i class="fab fa-pinterest-p"></i></span>
                                            <span><i class="fab fa-linkedin-in"></i></span>
                                        </div>
                                        <button> Collect </button>
                                    </div>
                                </div>
                                <div class="hide">
                                    <div class="card-img__down">
                                        <span><i class="fas fa-share"></i></span>
                                    </div>
                                </div>
                                <!-- <span class="date fade-out">May 7, 2019</span>
                                <h1 class="fade-out">Purpose over passion</h1> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <p>Studio Sentempo</p>
                            <div class="des">
                                <p>From Italy</p>
                                <p>April 20, 2021</p>
                            </div>
                            <div class="des__down">
                                <div class="des__one">
                                    <p>BY STUDIO SENTEMPO</p>
                                </div>
                                <div class="des__two">
                                    <p>cool</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="des">
        <div id="des" class="container-fluid">
            <div class="des__first">
                <p> <span> Nominees </span> We need your vote! </p>
            </div>
        </div>
    </section>

    <section class="section__main">
        <div class="main__section">
            <div class="row">
                {% for post in posts|slice:":3" %}
                <div class="col-4" style="margin-top: 30px;">
                    <div class="card">
                        <div class="card-img-container">
                            <a href="{{post.get_absolute_url}}">
                            <div class="card-img" style="background-image: url('{% for post in post.images_set.all %} {{ post.image.url }} {% endfor %}');">
                                <div class="hide">
                                    <div class="card-img__up">
                                        <div class="card-img__upIcon">
                                            <span><i class="fab fa-facebook-f"></i></span>
                                            <span><i class="fab fa-twitter"></i></span>
                                            <span><i class="fab fa-pinterest-p"></i></span>
                                            <span><i class="fab fa-linkedin-in"></i></span>
                                        </div>
                                        <button> Collect </button>
                                    </div>
                                </div>
                                <div class="hide">
                                    <div class="card-img__center">
                                        <button>Vote Now</button>
                                    </div>
                                </div>
                                <div class="hide">
                                    <div class="card-img__down">
                                        <span><i class="fas fa-share"></i></span>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <p>{{post.title}}</p>
                            <div class="des">
                                <p>{{post.location}}</p>
                                <p>{{post.created|date:" F d, Y"}}</p>
                            </div>
                            <div class="des__down">
                                <div class="des__one">
                                    <p>BY {{post.author|upper}}</p>
                                </div>
                                <div class="des__two">
                                    <p>cool</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="des">
        <div id="des" class="container-fluid">
            <div class="des__first">
                <p> <span> Academy </span> Leading thinkers teach digital talent </p>
            </div>
        </div>
    </section>

    <section class="section__main">
        <div class="main__section">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-img-container">
                            <div class="card-texts">
                                
                                <span class="date fade-out">Learn From Anywhere</span>
                                <h2 class="fade-out">Master Classes, Live</h2>
                                <h2>Workshops & Courses</h2>
                                <h2><span>View Recent</span></h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="discover">
                                <div class="discover__more">
                                    <button>Discover</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-img-container">
                            <div class="card-img">
                                <div class="show">
                                    <div class="card-img__show">
                                        <button>Special Offer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>Studio Sentempo</p>
                            <div class="des">
                                <p>From Italy</p>
                                <p>April 20, 2021</p>
                            </div>
                            <div class="discoverBtn">
                                <div class="discoverBtn__more">
                                    <button>Discover</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-img-container">
                            <div class="card-img">
                            <div class="show">
                                <div class="card-img__show">
                                    <button>Special Offer</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>Studio Sentempo</p>
                            <div class="des">
                                <p>From Italy</p>
                                <p>April 20, 2021</p>
                            </div>
                            <div class="discoverBtn">
                                <div class="discoverBtn__more">
                                    <button>Discover</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="des">
        <div id="des" class="container-fluid">
            <div class="des__first">
                <p> <span> Directory </span> Find the Best Digital Agencies & Professionals </p>
            </div>
        </div>
    </section>


    
    {% endblock %}
</body>
</html>