<div id="mySidenav" class="sidenav">
    <div class="sidebarRow up">
        <p>English</p>
        <div class="close">
            <p>Close</p>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </div>
        
    </div>
    
    <a href="">
        <div class="sidebarRow">
            <h5>Register / Log In</h5>
        </div>
    </a>
    <a href="">
        <div class="sidebarRow">
            <h5>Home</h5>
        </div>
    </a>
    <a href="">
        <div class="sidebarRow">
            <h5>Winners</h5>
        </div>
    </a>
    <a href="{% url 'nominees' %}">
        <div class="sidebarRow">
            <h5>Nominees</h5>
        </div>
    </a>
    <a href="">
        <div class="sidebarRow">
            <h5>Collections</h5>
        </div>
    </a>
    <a href="">
        <div class="sidebarRow active">
            <h5>Academy</h5>
            <span class="badge badge-info">New</span>
        </div>
    </a>
    <a href="">
        <div class="sidebarRow">
            <h5>Proffessional directory</h5>
        </div>
    </a>
    <a href="">
        <div class="sidebarRow">
            <h5>Jobs &#38; Talent</h5>
        </div>
    </a>
    <a href="">
        <div class="sidebarRow">
            <h5>Blog</h5>
        </div>
    </a>
    <a href="">
        <div class="sidebarRow">
            <h5>eBooks &#38; Publications</h5>
        </div>
    </a>
    <a href="">
        <div class="sidebarRow">
            <h5>Jury 2021</h5>
        </div>
    </a>

    <div class="sidebarRow down">
        <h6>Activate black option</h6>
        <div id="outer-div">
            <div id="inner-div"></div>
        </div>
    </div>
    
</div>